{% extends 'base.html.twig' %}

{% block title %}produitByCat Found !
{% endblock %}

{% block body %}

<h2>Le(s) produit(s) de cette catégorie :</h2>
  {% include 'search/cardProduitCat.html.twig' %}

{% endblock %}
